---
import { siteConfig } from '../config';
---

<footer class="bg-gray-50 border-t border-gray-200 mt-16">
  <div class="max-w-5xl mx-auto px-4 py-8 text-center text-gray-500 text-sm">
    <p>{siteConfig.footer.copyright}</p>
  </div>
</footer>
